{{ define "title" }}Archives &bullet; {{ .Site.Title }}{{ end }}

{{ define "main" }}
<section class="center bg-main br-3 pv1 ph4 nested-copy-line-height lh-copy f4 nested-links mw-100 measure-wide">
  {{- range $i, $p := .Site.RegularPages -}}
  {{- $thisYear := $p.Date.Format "2006" }}
  {{- $lastPage := $i | add -1 | index .Site.RegularPages }}
  {{- if or (eq $i 0) ( ne ($lastPage.Date.Format "2006") $thisYear ) }}
  <h1 class="archive-year">{{ $thisYear }}</h1>
  {{- end }}


  <li class="post-item nested-links">
    <span class="meta"><time
      datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}' style="font-size: 80%;">
    {{ $p.Date.Format "Jan 02" }}</time></span>
    <a href="{{ $p.Permalink }}" class="no-underline dim link" style="font-size: 80%;">
      {{- cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) -}}{{- if .Draft }}{{ " (Draft)" }}{{ end -}}
    </a>
  </li>
  {{- end -}}
</section>
{{ end }}

{{ define "pagination" }}
<br>
{{ end }}