{{ define "title" }}Search{{ end }}
{{ define "main" }}

<article class="center ph3 lh-copy f4 mw-100 measure-wide pt4 min-vh-100">
  <!--<script>
    (function () {
      var cx = {{ .Site.Params.Google.programmableSearchEngineID | default "" }};
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <div class="gcse-search" enableAutoComplete="true"></div>-->

  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  <script src="/pagefind/pagefind-ui.js"></script>
  <div id="search"></div>
  <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        let actualLang = document.documentElement.lang;
        document.documentElement.lang = "en";
        new PagefindUI({ element: "#search", showSubResults: true, highlightParam: "highlight" });
        document.documentElement.lang = actualLang;
      });
  </script>
</article>
{{ end }}