{{/* headline hash */}}
<script src="https://code.iconify.design/1/1.0.0-rc6/iconify.min.js"></script>
{{ $tmp := . | replaceRE "(<(h[1-9]) id=\"([^\"]+)\"(.+))(</h[1-9]+>)" `<${2} id="${3}" class="article-heading"${4}<a class="headline-hash smoothScroll hover-show scrollspy" style="font-size: 0.75em; color: black; padding-left: 0.25em" href="#${3}"><span class="iconify" data-icon="octicon-link" data-inline="false"></span></a> ${5}` | safeHTML }}

{{/* links */}}
{{ $links := `(<a href="[^\"]+")>` }}
{{ $newlinks := `${1} target="_blank">` }}
{{ $tmp := $tmp | replaceRE $links $newlinks | safeHTML }}

{{/* google drive image */}}
{{/*
  ${1}: original element
  ${2}: open link
  ${3}: id
  ${4}: title
*/}}
{{ $gphoto := `(<img src="(https://drive.google.com/open.+id=([^\"]+))".+alt="google-([^\"]+)" />)` }}
{{ $newgphoto := `
  <figure class="gphoto-media">
    <noscript>
      <img src="https://drive.google.com/uc?export=view&id=${3}" class='center img-zoomable' alt="${4}" data-action="zoom" title="zoom!"></img>
    </noscript>
    <img data-src="https://drive.google.com/uc?export=view&id=${3}" class='center img-zoomable lazyload' alt="${4}" data-action="zoom" title="zoom!"></img>
    <figcaption>
      <center class="caption-text">
        <p style="margin: 0;">${4}</p>
        <!-- hide the link -->
        <font class="douyin hover-show">
          <a href="${2}" target="_blank" style="opacity: 1.0; text-decoration: none;" >OuO</a>
        </font>
      </center>
    </figcaption>
  </figure>
` }}
{{ $tmp := $tmp | replaceRE $gphoto $newgphoto | safeHTML }}

{{/* normal image */}}
{{ $nphoto := `(<img src="([^\"]+)".+alt="([^\"]+)" />)` }}
{{ $newnphoto := `
  <figure class="gphoto-media">
    <noscript>
      <img src="${2}" class='center img-zoomable' alt="${3}" data-action="zoom" title="zoom!"></img>
    </noscript>
    <img data-src="${2}" class='center img-zoomable lazyload' alt="${3}" data-action="zoom" title="zoom!"></img>
    <figcaption>
      <center class="caption-text">
        <p style="margin: 0;">${3}</p>
        <!-- hide the link -->
        <font class="douyin hover-show">
          <a href="${2}" target="_blank" style="opacity: 1.0; text-decoration: none;" >OuO</a>
        </font>
      </center>
    </figcaption>
  </figure>
` }}
{{ $tmp := $tmp | replaceRE $nphoto $newnphoto | safeHTML }}

{{/* put costom content */}}
{{- $tmp -}}
