<div class="post-wrapper white-bg post-card">

  <a href="{{ .Permalink }}">
    <div class="post-header text-center">
      <h4 class="">{{ .Title }} ({{ .Date.Format "Jan 2, 2006" }})</h4>
    </div>
    {{ with .Params.image }}

    <div class="view h-10">
      <img class="view lazyload h-10" src="{{ . | absURL }}" />
    </div>
    {{ end }}

    {{ if .Params.summary }}
    {{ .Params.summary| plainify | htmlUnescape  }}
    {{ else }}
    {{ .Summary | plainify | htmlUnescape }}......
    {{ end }}
  </a>



  <div class="post-meta li-x mt-2 div-x">
    <div>
      {{ if .Params.categories }}
      {{ range .Params.categories }}
      <li>in <a href="{{ "categories" | absURL }}/{{ . | urlize }}" class="no-underline no-underline-on-hover">{{ . }} </a></li>
      {{ end }}
      {{ end }}
    </div>
    <div>
      {{ if .Params.series }}
      {{ range .Params.series }}
      <li>at <a href="{{ "series" | absURL }}/{{ . | urlize }}" class="no-underline no-underline-on-hover">{{ . }} </a></li>
      {{ end }}
      {{ end }}
    </div>
    <div>
      {{ if .Params.tags }}
      <li>with</li>
      {{ range .Params.tags }}
      <li><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}" class="no-underline no-underline-on-hover">{{ . }} </a></li>
      {{ end }}
      {{ end }}
    </div>
  </div>

</div>