{{/*  {{ range where .Site.RegularPages ".Params.tags" "ne" nil }}
{{ $.Store.Add "tags" (apply .Params.tags "lower" ".") }}
{{ end }}

{{ $terms := uniq ($.Store.Get "tags") }}  */}}

{{ if gt (len .Site.Taxonomies.tags) 0 }}
<hr>
{{ with .Site.Taxonomies.tags }}
<div class="post-meta">
  <div class="mb-2">
    <a href="{{ "tags/" | absLangURL }}">
      <span class="font-weight-bold text-uppercase post-meta">
        <i class="fas fa-tags pr-1" aria-hidden="true"></i>
        標籤
      </span>
    </a>
  </div>

  <div class="li-x post-meta tags-md" style="margin-left: -8px; ">
    <ul style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    {{ range $index, $element := first 40 site.Taxonomies.tags.ByCount }}
    {{ if gt .Count 2 }}
    <li><a href="{{ "tags/" | absLangURL }}{{ .Name | urlize }}" class="no-underline no-underline-on-hover"
        role="button"><span>{{ .Name }} ({{ .Count }})</span></a></li>
    {{ end }}
    {{ end }}
    </ul>
  </div>
</div>


{{ end }}
{{ end }}