{{ range where .Site.RegularPages ".Params.series" "ne" nil }}
{{ $.Scratch.Add "series" (apply .Params.series "urlize" ".") }}
{{ end }}

{{ $terms := uniq ($.Scratch.Get "series") }}

{{ if gt (len $terms) 0 }}
<hr>
{{ with .Site.Taxonomies.series }}
<div class="post-meta">
  <div class="mb-2">
    <a href="{{ "series/" | absLangURL }}">
      <span class="font-weight-bold text-uppercase post-meta">
        <i class="fas fa-bookmark pr-1" aria-hidden="true"></i>
        系列
      </span>
    </a>
  </div>

  <div class="li-x post-meta">
    <ul>
    {{ range $index, $element := first 10 (where .ByCount "Name" "in" $terms) }}
    <li class="py-1">
      <a href="{{ "series/" | absLangURL }}{{ .Name | urlize }}" class="no-underline no-underline-on-hover">
        <span>{{ $element.Name | humanize }} ({{ .Count }})</span>
      </a>
    </li>
    {{ end }}
    </ul>
  </div>

</div>
{{ end }}
{{ end }}
