{{/* regexp begin */}}
{{/* upsplash */}}
{{ $bigw := `^(https:\/\/images\.unsplash\.com\/.*?)&w=\d*(.*?)$` }}
{{ $smallw := `${1}&w=600${2}` }}
{{/* google phote */}}
{{ $bigw := `^(https:\/\/lh3\.googleusercontent\.com\/.*?)=w\d*-(.*?)$` }}
{{ $smallw := `${1}=w600` }}
{{/* regexp end */}}
{{- $hdr := cond (or (in .Site.Params.classes "feature-nohdr") (in .Params.classes "feature-nohdr")) false true -}}
<div class="relative w-100">
  <article>
    <div class="db pv4 {{ cond $hdr "ph3" "" }} ph0-l no-underline dark-gray">
      <div class="flex flex-column flex-row-ns">
        {{ if $hdr }}
        <div
          class="mb0 mb0-ns w-100 w-80-ns br3 cover {{ if lt .PublishDate.Unix now.Unix }}hide-child{{ end }}"
          style="background-image: url('{{ absURL (default "img/default-header-img.tn-500x500.jpg" (default .Params.image .Params.thumbnail)) | replaceRE $bigw $smallw }}'); background-position: center; aspect-ratio: 4/3;">
          <a href="{{ .Permalink }}"
            class="serif db child w-100 h-100 lh-copy white no-underline br3 ph3 ttu tc bg-black-60" style="padding-top: 35%; font-size: 150%;">
            <i class="child far {{ cond (gt .PublishDate.Unix now.Unix) "fa-hourglass" "fa-calendar-alt" }}"></i>
            {{ .PublishDate.Format "Jan 2, 2006" }}
          </a>
        </div>
        {{ end }}
        <div class="w-100 w6-ns pl3-ns">
          <h1 class="f3 fw1 mt0 lh-title"><a href="{{ .Permalink }}" class="color-inherit dim link no-underline-on-hover">
              {{- if eq .Section "talks" }}{{ .Params.event }}: {{ end -}}
              {{- cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) -}}
            </a></h1>
          <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
            {{ if eq .Section "slides" }}
            {{ .Description | markdownify }}
            <p class="pa0 sans-serif f7" style="white-space: nowrap;"><a class="ba br3 pa2 link no-underline-on-hover" href="{{ .Permalink }}">View Slideshow <i
                  class="fas fa-chevron-circle-right"></i></a></p>
            {{ else if eq .Section "talks" }}
            {{ .Summary }}
            <p class="pa0 sans-serif f7" style="white-space: nowrap;"><a class="ba br3 pa2 link no-underline-on-hover" href="{{ .Permalink }}">Talk Details <i
                  class="fas fa-chevron-circle-right"></i></a></p>
            {{ else }}
            {{ .Summary }}
            <p class="pa0 sans-serif f7" style="white-space: nowrap;"><a class="ba br3 pa2 link no-underline-on-hover" href="{{ .Permalink }}">Continue Reading <i
                  class="fas fa-chevron-circle-right"></i></a></p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
