{{ define "main" }}
<main class="post-main-wrapper px-5">
  <!-- <div class="container"> -->
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 side-bar">
      <!-- categories -->
      {{ partial "sidebar-categories.html" . }}
      <!-- tags -->
      {{ partial "sidebar-tags.html" . }}
      <!-- series -->
      {{ partial "sidebar-series.html" . }}
      <!-- external links -->
      {{ partial "sidebar-external-links.html" . }}
      <hr>
    </div>

    <div class="col-md-9 pa0 w-100 w-60-ns center">
      <section class="w-100 mw8">
        {{ $pages := where .Paginator.Pages ".Params.skip" "ne" "true" }}
        {{ range where (where $pages ".Date.Unix" "<" now.Unix) "Section" "ne" "slides" }}
        {{ partial "story-li.html" . }}
        {{ end }}
      </section>
    </div>
  </div>
  {{ end }}

  {{ define "pagination" }}
  <footer class="w-100 sans-serif" role="contentinfo">
    <nav class="w-third-l pb3 f6 center db" role="navigation">
      {{- template "_internal/pagination.html" . -}}
    </nav>
  </footer>
  {{ end }}