{{ $theme := index .Params 0 }}
<div class="alert-block">
{{ if eq $theme "info" }}
  <div class="info-title"><i class="fa fa-info-circle"></i></div>
  <div class="info-msg db overflow-x-scroll ov-for-img">
    <p>{{ .Inner | markdownify }}</p>
  </div>
{{ else if eq $theme "success" }}
  <div class="success-title"><i class="fa fa-check"></i></div>
  <div class="success-msg db overflow-x-scroll ov-for-img">
    {{ .Inner | markdownify }}
  </div>
{{ else if eq $theme "warning" }}
  <div class="warning-title"><i class="fa fa-exclamation-triangle"></i></div>
  <div class="warning-msg db overflow-x-scroll ov-for-img">
    {{ .Inner | markdownify }}
  </div>
{{ else if eq $theme "danger" }}
  <div class="danger-title"><i class="fa fa-times-circle"></i></div>
  <div class="alert danger-msg db overflow-x-scroll ov-for-img">
    {{ .Inner | markdownify }}
  </div>
{{ else }}
  <div class="info-title"><i class="fa fa-info-circle"></i></div>
  <div class="info-msg db overflow-x-scroll ov-for-img">
    {{ .Inner | markdownify }}
  </div>
{{ end }}
</div>